
<div id="estudios">
    <h2 class="titulo">Estudios</h2>
    <div class="estudios_contenedor">
        <div>
            <h3>Cibertec 2024-Actual</h3>
            <p>Computación e informatica</p>
        </div>
    </div>
</div>
<style>
    .estudios_contenedor{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
</style>